@import '../../styles/utils/vars.scss';

.pagination {
  margin: 32px 0 64px;
  &__content {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    gap: 8px;
    color: $neutralN200;
  }

  &__button{
    width: 40px;
    height: 40px;

    &_active {
      color: $primaryP500;
      border: 1px solid $primaryP500;
      border-radius: 4px;
    }
  }

  &__nav-button {
    width: 24px;
    height: 24px;

    &.prew { 
      background-image: url('../../assets/icons/arrow-left_icon.svg');
    }

    &.next {
      background-image: url('../../assets/icons/arrow-right_icon.svg');
    }

  }
}