@import '../../styles/utils/_vars';

.product-details__page {
  overflow-x: hidden;
}

.product-details__section {
  margin-bottom: 24px;

  &:nth-child(4) {
    margin-bottom: 64px;
  }
}

.product-details__sliders {
  padding-top: 64px;
  padding-bottom: 104px;
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.back__button {
  width: 24px;
  height: 24px;
  background-image: url("../../assets/images/icons/arrow-left-n300.svg");
}

.product-page__path {
  padding: 33px 0 25px;
  display: flex;
  gap: 8px;
}

.current__page {
  color: $neutralN300;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.product-info__nav-list {
  position: relative;
  padding-bottom: 15px;
  display: flex;
  gap: 24px;
  width: max-content;
  overflow-x: hidden;
}

.product-info__item-handler {
  color: $neutralN350;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;

  &.selected {
    text-decoration: underline;
    color: $primaryP500;
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
  }
}

.product-info__scroll-bar {
  position: relative;
  margin-bottom: 24px;
  background-color: $neutralN200;
  height: 1px;
}

.product-info__toddler {
  position: absolute;
  top: -3px;
  width: 40px;
  height: 6px;
  border-radius: 100px;
  background-color: $primaryP300;
}

.more-info__button {
  padding: 16px 0 0 8px;
  display: flex;
  gap: 8px;
  color: $neutralN400;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;

  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("../../assets/images/icons/arrow-right-n400.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
