@import '../../styles/utils/vars.scss';

.product__details-page {
  overflow-x: hidden;
}

.back__button {
  width: 24px;
  height: 24px;
  background-image: url('../../assets/icons/arrow-left_icon--neutralN300.svg');
}

.product__page-path {
  padding: 33px 0 25px;
  display: flex;
  gap: 8px;
}

.product-info__nav-list {
  position: relative;
  padding-bottom: 15px;
  display: flex;
  gap: 24px;
  width: max-content;
  overflow-x: hidden;
}

.product-info__item-handler {
  color: $neutralN350;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;

  &.selected {
    text-decoration: underline;
    color: $primaryP500;
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
  }
}

.product-info__scroll-bar {
  position: relative;
  margin-bottom: 24px;
  background-color: $neutralN200;
  height: 1px;
}

.product-info__toddler {
  position: absolute;
  top: -3px;
  //left: calc(100% - 40px);
  width: 40px;
  height: 6px;
  border-radius: 100px;
  background-color: $primaryP300;
}
