.specifications__block {
  &-title {
    margin-bottom: 16px;
    text-transform: uppercase;
  }
}

.specifications-clipped {
  position: relative;
  height: 142px;
  overflow-y: hidden;

  &::after {
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    background-image: linear-gradient(#ffffff82, #ffffffd9, #ffffff);
  }
}

.options__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.options-list__item {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.option {
  width: 50%;
}
