@import '../utils/_vars';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.primary-button {
  color: $neutralN0;
  background-color: $primaryP500;

  &--disabled {
    background-color: $primaryP200;
  }
}

.secondary-button {
  color: $neutralN400;
  background-color: $neutralN100;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
}