@import '../utils/_vars.scss';

.primary__button {
  background-color: $primaryP500;
  width: 256px;
  border-radius: 4px;

  &-large {
    height: 52px;
  }

  &-medium {
    height: 48px;
  }

  &-small {
    height: 44px;
  }

  &-extra-small {
    height: 40px;
  }
}

.secondary__button {
  background-color: $neutralN100;
  width: 256px;
  border-radius: 4px;

  &-large {
    height: 52px;
  }

  &-medium {
    height: 48px;
  }

  &-small {
    height: 44px;
  }

  &-extra-small {
    height: 40px;
  }
}