.availability__info-block {
  margin-bottom: 64px;
}

.storage-areas__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.storage-areas__buttons {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

.storage-area__button {
  width: 140px;
}

.adress {
  width: 65%;
}

.location {
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.qnty {
  display: flex;
  gap: 4px;
}