.details-card {
  &__images {
    display: flex;
    flex-direction: column;
  }

  &__selected-image {
    margin-inline: auto;
    margin-bottom: 16px;
    display: block;
    height: 288px;
    width: 288px;
  }

  &__images-list {
    margin-bottom: 16px;
    padding-left: 16px;
    display: flex;
    gap: 16px;
    width: max-content;
  }

  &__image {
    width: 120px;
    height: 120px;
  }

  &__button {
    width: 100%;
    margin-bottom: 24px;

    &::after {
      content: "";
      margin-left: 8px;
      display: block;
      background-image: url('../../assets/icons/cart_icon.svg');
      width: 24px;
      height: 24px;
    }
  }
}

.product {
  &__code {
    margin-bottom: 8px;
    text-align: start;
  }

  &__title {
    margin-bottom: 24px;
  }
}
