h6 {
  &.medium {
    &_line-height--120 {
      font-size: 24px;
      font-weight: 500;
      line-height: 28.8px;
    }
  }
}

.main__text {
  &--regular {
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
  }

  &--medium {
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
  }
}

.secondary__text {

  &--regular {
    font-size: 14px;
    font-weight: 400;
    line-height: 145%;
  }

  &--medium {
    font-size: 14px;
    font-weight: 500;
    line-height: 145%;
  }
}

.large__text {
  &--regular {
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
  }

  &--medium {
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
  }
}

.extra-large__text {
  &--medium {
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
  }
}

.text-color--neutralN100 {
  color: $neutralN100;
}

.text-color--neutralN200 {
  color: $neutralN200;
}

.text-color--neutralN300 {
  color: $neutralN300;
}

.text-color--neutralN350 {
  color: $neutralN350;
}

.text-color--neutralN400 {
  color: $neutralN400;
}

.text-color--neutralN500 {
  color: $neutralN500;
}

.text-color--dangerDN500 {
  color: $dangerDN500;
}

.text-color--primaryP500 {
  color: $primaryP500;
}

.text-color--successSC90 {
  color: $successSC90;
}