/* Colors */

$neutralN0: #fff;
$neutralN50: #F8F9FA;
$neutralN100: #E9ECEF;
$neutralN200: #CED4DA;
$neutralN300: #868E96;
$neutralN350: #5D646B;
$neutralN400: #343A40;
$neutralN500: #212529;
$neutralN600: #171A1D;

$primaryP500: #EF7C2A;
$primaryP300: #F7BB7A;
$primaryP200: #FAD7AE;

$dangerDN500: #FF6060;

$successSC900: #17713C;

$black: #000