@import '../../styles/utils/_vars';

.help__page {
  background-color: $neutralN500;
}

.help-page-section__chapters {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.help-page__content {
  padding-block: 40px;
}

.help-page-section__title {
  margin-bottom: 16px;
  color: $neutralN0;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
}

.help-page-section__links {
  padding-inline: 8px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.help-page-section__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $neutralN300;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;

  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("../../assets/images/icons/arrow-right-n300.svg");
  }
}