@import '../../styles/utils/_vars';

.products-slider__screen {
  overflow: hidden;
  width: 288px;
  height: 479px;
}

.slide__list {
  display: flex;
}

.slide__item {
  width: 288px;
}

.product-slider__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.product-slider__title {
  text-transform: uppercase;
  color: $neutralN500;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}

.product-slider__link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: $neutralN400;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  text-decoration: underline;

  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("../../assets/images/icons/arrow-right-n400.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.slider {
  &__nav-buttons {
    display: flex;
    gap: 8px;
  }

  &__nav-button {
    width: 24px;
    height: 24px;
  
    &.prev {
      background-image: url("../../assets/images/icons/arrow-left-n300.svg");
    }

    &.next {
      background-image: url("../../assets/images/icons/arrow-right-n300.svg");
    }
  }
}