@import '../../styles/utils/vars.scss';

.slider {
  &__top {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
  }
  
  &__nav-buttons {
    display: flex;
    gap: 8px;
  }

  &__nav-button {
    width: 24px;
    height: 24px;
  
    &.prev {
      background-image: url('../../assets/icons/arrow-left_icon--neutralN300.svg');
    }

    &.next {
      background-image: url('../../assets/icons/arrow-right_icon--neutralN300.svg');
    }
  }

  &__screen {
    display: flex;
    width: 288px;
    height: 510px;
    overflow: hidden;
  }

  &__list {
    display: flex;
  }

  &__item {
    width: 288px;

    &.item__code {
      text-align: end;
    }
  }
}