@import './styles/utils/reset';
@import './styles/utils/vars';

@import './styles/blocks/page';
@import './styles/blocks/container';
@import './styles/blocks/background-icon';
@import './styles/blocks/buttons';


.app--background-dark {
  position: relative;
  overflow: hidden;
  height: 100vh;

  &::after {
    position: absolute;
    top: 0;
    opacity: 0.9;
    content: "";
    display: block;
    height: 100vh;
    width: 100vh;
    background-color: $neutralN600;
  }
}